// Colors
$black:         #000000;
$light-gray:    #D3D3D3;
$red:           #B23130;

// Font
$base-font-size: 62.5%;
$base-font-family: 'Droid Sans', sans-serif;
$base-font-color: $light-gray;
$base-heading-font: 'BigJohn';
$base-nav-font: 'SlimJoe';

// Background
$base-bg-color: $black;