html {
    background: $base-bg-color;
    color: $base-font-color;
    font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-heading-font;
}

h1 {
    @include adjust-font-size-to($h1-zd);
    margin: 0 auto rhythm(1, $h1-zd);
}

h2 {
    @include adjust-font-size-to($h2-zd);
    margin: 0 auto rhythm(1, $h2-zd);
}

h3 {
    @include adjust-font-size-to($h3-zd);
    margin: 0 auto rhythm(1, $h3-zd);
}

h4 {
    @include adjust-font-size-to($h4-zd);
    margin: 0 auto rhythm(1, $h4-zd);
}

h5 {
    @include adjust-font-size-to($h5-zd);
    margin: 0 auto rhythm(1, $h5-zd);
}

h6 {
    @include adjust-font-size-to($h6-zd);
    margin: 0 auto rhythm(1, $h6-zd);
}

small {
    @include adjust-font-size-to($small-zd);
}

a {
    text-decoration: none;
    @include link-colors($red, $light-gray);
}

p {
    margin: 0 auto rhythm(1);
}