* {
    @include selection($red);
}

html {
    background: $base-bg-color;
    color: $base-font-color;
    font-family: $base-font-family;
    @include adjust-leading-to(3);
}

body {
    padding: rhythm(1);
}

header {
    font-family: $base-heading-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-heading-font;
}

h1 {
    @include adjust-font-size-to($h1-zd);
    margin: 0 auto rhythm(1, $h1-zd);
}

h2 {
    @include adjust-font-size-to($h2-zd);
    margin: 0 auto rhythm(1, $h2-zd);
}

h3 {
    @include adjust-font-size-to($h3-zd);
    margin: 0 auto rhythm(1, $h3-zd);
}

h4 {
    @include adjust-font-size-to($h4-zd);
    margin: 0 auto rhythm(1, $h4-zd);
}

h5 {
    @include adjust-font-size-to($h5-zd);
    margin: 0 auto rhythm(1, $h5-zd);
}

h6 {
    @include adjust-font-size-to($h6-zd);
    margin: 0 auto rhythm(1, $h6-zd);
}

a {
    text-decoration: none;
    @include link-colors($red, $light-gray);
}

b,
dt,
th,
strong {
    font-weight: bold;
}

i,
q,
em,
cite,
caption,
legend,
dfn,
ins {
    font-style: italic;
}

u,
abbr,
acronym {
    text-decoration: underline;
}

p,
pre,
blockquote,
audio,
video,
ul,
ol,
dl {
    margin: 0 auto rhythm(1);
}

blockquote {
    @include apply-side-rhythm-border(left, 2px);
    border-color: $red;
}

code,
kbd,
pre,
samp,
var {
    font-family: monospace;
}

mark {
    background-color: $red;
    color: $light-gray;   
}

small,
sub,
sup {
    @include adjust-font-size-to($small-zd);
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

pre {
    @include rhythm-borders;
    background-color: $light-gray;
    color: $black;
    @include force-wrap;
}

ul,
ol,
dl {
    margin-left: rhythm(2);
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

dd {
    margin-left: rhythm(3);
}

table {
    $table-color: $red;
    @include table-scaffolding;
    @include inner-table-borders(rhythm(0.3), $light-gray);
    @include outer-table-borders(rhythm(0.3), $light-gray);
    @include alternating-rows-and-columns($table-color, adjust-saturation($table-color, -15%), $dark-gray, $table-color);
}
    
form,
textarea,
input,
select {
    &:not(#adminbarsearch) {
        @include rhythm-borders;
    }
}

textarea,
input,
select {
    background: $light-gray;
    color: $black; 
    resize: none;
    overflow: auto;
    font-family: $base-font-family;
}

textarea {
    box-sizing: border-box;
}