@import 'reset.css';

html {
    background: #000;
    color: #D3D3D3;
    font-family: 'Droid Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BigJohn';
}

h3 {
    font-size: 1.4em;
    text-align: center;
}

a:visited,
a:link {
    color: #B23130;
}

a:hover,
a:active {
    color: #D3D3D3;
}

#sidebar {
    padding: 1em;
    padding-left: 0;
    margin-right: 20px;
    position: fixed;
    width: 250px;
    max-width: 240px;
    height: 100%;
    overflow: hidden;
}

#content {
    margin-left: 250px;
    padding: 1em;
}

.post {
    margin-bottom: 4em;
    padding: 0 2em 0;
}

#site-header,
.post-title {
    text-align: right;
    font-family: 'BigJohn';
    font-size: 3em;
    letter-spacing: -4px;
    line-height: 90%;
    text-shadow: 1px 1px;
}

.post-title {
    display: inline-block;
}

.post-meta {
    float: right;
    font-family: 'SlimJoe';
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    line-height: 1.2;
}

.post-body {
    clear: both;
    font-size: 1.4em;
    line-height: 1.2; 
}

.post-actions {
    font-weight: bold;
}

.post-meta span {
    display: block;
}

.pagination-container {
    text-align: center;
    font-family: 'SlimJoe';
    font-weight: bold;
    font-size: 2.4em;
}

.pagination {
    display: inline-block;
    margin: 0 5em;
}

#site-nav {
    margin-top: 42px;
    font-family: 'SlimJoe';
    font-size: 2.4em;
    text-align: right;
    list-style-type: none;
}

#site-nav > li {
    margin-top: 10px;
    border-bottom: 1px solid #B23130;
}

#site-nav > li:hover {
    border-bottom: 1px dotted #D3D3D3;
}

#site-nav > .active {
    border-bottom: 1px solid #D3D3D3;
}

.active > a:link,
.active > a:visited {
    font-weight: bold;
    color: #D3D3D3; 
}

#site-title {
    color: #D3D3D3;
}

#site-header:hover > #site-tagline{
    color: #D3D3D3;
}

#site-header:hover > #site-title {
    color: #B23130;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;  
    height: 80px;
    width: 100%;
    font-family: 'SlimJoe';
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

/* Fonts */

@font-face {
    font-family: 'BigJohn';
    src: url('fonts/BIG JOHN.otf');
}

@font-face {
    font-family: 'SlimJoe';
    src: url('fonts/Slim Joe.otf');
}