@charset "UTF-8";
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Breakpoints */
/* line 106, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 0.5em;
}

@font-face {
  font-family: BigJohn;
  src: url("../fonts/bj_sj/big_john-webfont.eot");
  src: url("../fonts/bj_sj/big_john-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/bj_sj/big_john-webfont.ttf") format("truetype"), url("../fonts/bj_sj/big_john-webfont.svg#BigJohn") format("svg"), url("../fonts/bj_sj/big_john-webfont.woff") format("woff");
}
@font-face {
  font-family: SlimJoe;
  src: url("../fonts/bj_sj/slim_joe-webfont.eot");
  src: url("../fonts/bj_sj/slim_joe-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/bj_sj/slim_joe-webfont.ttf") format("truetype"), url("../fonts/bj_sj/slim_joe-webfont.svg#SlimJoe") format("svg"), url("../fonts/bj_sj/slim_joe-webfont.woff") format("woff");
}
/* line 53, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #fff;
  background-color: #B23130;
}
/* line 53, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #fff;
  background-color: #B23130;
}

/* line 5, ../../sass/core/_global.scss */
html {
  background: #000000;
  color: #D3D3D3;
  font-family: "Droid Sans", sans-serif;
  line-height: 27px;
  line-height: 1.5rem;
}

/* line 12, ../../sass/core/_global.scss */
body {
  padding: 0.5rem;
}

/* line 16, ../../sass/core/_global.scss */
header {
  font-family: "BigJohn";
}

/* line 20, ../../sass/core/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BigJohn";
}

/* line 29, ../../sass/core/_global.scss */
h1 {
  font-size: 48px;
  font-size: 2.66667rem;
  line-height: 54px;
  line-height: 3rem;
  margin: 0 auto 0.5rem;
}

/* line 34, ../../sass/core/_global.scss */
h2 {
  font-size: 36px;
  font-size: 2rem;
  line-height: 41px;
  line-height: 2.25rem;
  margin: 0 auto 0.5rem;
}

/* line 39, ../../sass/core/_global.scss */
h3 {
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 36px;
  line-height: 2rem;
  margin: 0 auto 0.5rem;
}

/* line 44, ../../sass/core/_global.scss */
h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 32px;
  line-height: 1.75rem;
  margin: 0 auto 0.5rem;
}

/* line 49, ../../sass/core/_global.scss */
h5 {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.25rem;
  margin: 0 auto 0.5rem;
}

/* line 54, ../../sass/core/_global.scss */
h6 {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 18px;
  line-height: 1rem;
  margin: 0 auto 0.5rem;
}

/* line 59, ../../sass/core/_global.scss */
a {
  text-decoration: none;
  color: #B23130;
}
/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #D3D3D3;
}

/* line 64, ../../sass/core/_global.scss */
b,
dt,
th,
strong {
  font-weight: bold;
}

/* line 71, ../../sass/core/_global.scss */
i,
q,
em,
cite,
caption,
legend,
dfn,
ins {
  font-style: italic;
}

/* line 82, ../../sass/core/_global.scss */
u,
abbr,
acronym {
  text-decoration: underline;
}

/* line 88, ../../sass/core/_global.scss */
p,
pre,
blockquote,
audio,
video,
ul,
ol,
dl {
  margin: 0 auto 0.5rem;
}

/* line 99, ../../sass/core/_global.scss */
blockquote {
  border-left-width: 2px;
  border-left-width: 0.11111rem;
  border-left-style: solid;
  border-left-color: #B23130;
  padding-left: 7px;
  padding-left: 0.38889rem;
  border-color: #B23130;
}

/* line 104, ../../sass/core/_global.scss */
code,
kbd,
pre,
samp,
var {
  font-family: monospace;
}

/* line 112, ../../sass/core/_global.scss */
mark {
  background-color: #B23130;
  color: #D3D3D3;
}

/* line 117, ../../sass/core/_global.scss */
small,
sub,
sup {
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 18px;
  line-height: 1rem;
}

/* line 123, ../../sass/core/_global.scss */
sub {
  vertical-align: sub;
}

/* line 127, ../../sass/core/_global.scss */
sup {
  vertical-align: super;
}

/* line 131, ../../sass/core/_global.scss */
pre {
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  border-color: #B23130;
  padding: 7px;
  padding: 0.38889rem;
  background-color: #D3D3D3;
  color: #000000;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* line 138, ../../sass/core/_global.scss */
ul,
ol,
dl {
  margin-left: 1rem;
}

/* line 144, ../../sass/core/_global.scss */
ul {
  list-style-type: square;
  list-style-position: inside;
}

/* line 149, ../../sass/core/_global.scss */
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

/* line 154, ../../sass/core/_global.scss */
dd {
  margin-left: 1.5rem;
}

/* line 158, ../../sass/core/_global.scss */
table {
  border: 0.15rem solid #D3D3D3;
}
/* line 2, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table th, table td {
  border-right: 0.15rem solid #D3D3D3;
  border-bottom: 0.15rem solid #D3D3D3;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table th:last-child, table td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table th.last, table td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table thead th {
  border-bottom: 0.15rem solid #D3D3D3;
}
/* line 9, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table tfoot th, table tfoot td {
  border-top: 0.15rem solid #D3D3D3;
}
/* line 12, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_borders.scss */
table th:first-child {
  border-right: 0.15rem solid #D3D3D3;
}
/* line 2, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table th {
  background-color: #B23130;
}
/* line 4, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table th.even, table th:nth-child(2n) {
  background-color: #2a0000;
}
/* line 8, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tr.odd td, table tr:nth-child(2n+1) td {
  background-color: #a14241;
}
/* line 10, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tr.odd td.even, table tr.odd td:nth-child(2n), table tr:nth-child(2n+1) td.even, table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #190000;
}
/* line 14, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tr.even td {
  background-color: #B23130;
}
/* line 16, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tr.even td.even, table tr.even td:nth-child(2n) {
  background-color: #2a0000;
}
/* line 19, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tfoot th, table tfoot td {
  background-color: white;
}
/* line 21, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table tfoot th.even, table tfoot th:nth-child(2n), table tfoot td.even, table tfoot td:nth-child(2n) {
  background-color: #777777;
}

/* line 166, ../../sass/core/_global.scss */
form,
textarea,
input,
select {
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  border-color: #B23130;
  padding: 7px;
  padding: 0.38889rem;
}

/* line 173, ../../sass/core/_global.scss */
textarea,
input,
select {
  background: #D3D3D3;
  color: #000000;
  resize: none;
  overflow: auto;
  font-family: "Droid Sans", sans-serif;
}

/* line 183, ../../sass/core/_global.scss */
textarea {
  box-sizing: border-box;
}

/* line 1, ../../sass/layouts/_content.scss */
.content {
  margin-top: 36px;
  margin-top: 2rem;
  margin-bottom: 36px;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  /* line 1, ../../sass/layouts/_content.scss */
  .content {
    width: 72.22222%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

/* line 1, ../../sass/layouts/_sidebar.scss */
.sidebar {
  height: 100%;
  overflow: hidden;
}

/* line 1, ../../sass/layouts/_nav.scss */
.site-nav {
  font-size: 36px;
  font-size: 2rem;
  line-height: 41px;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-left: 0;
  font-family: "SlimJoe";
  text-align: right;
  list-style-type: none;
}

/* line 10, ../../sass/layouts/_nav.scss */
.nav-link {
  margin-top: 9px;
  margin-top: 0.5rem;
  margin-bottom: 9px;
  margin-bottom: 0.5rem;
}
/* line 13, ../../sass/layouts/_nav.scss */
.nav-link a {
  display: block;
}

/* line 1, ../../sass/layouts/_header.scss */
.site-title {
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  border-color: #B23130;
  padding: 7px;
  padding: 0.38889rem;
  text-align: center;
}

/* line 1, ../../sass/layouts/_footer.scss */
.site-footer {
  clear: both;
  height: 3rem;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 18px;
  line-height: 1rem;
}
@media (min-width: 1200px) {
  /* line 1, ../../sass/layouts/_footer.scss */
  .site-footer {
    width: 72.22222%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (max-width: 1200px) {
  /* line 1, ../../sass/layouts/_footer.scss */
  .site-footer {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

/* line 1, ../../sass/layouts/_front-page.scss */
.front-page {
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  border-top-color: #B23130;
  padding-top: 7px;
  padding-top: 0.38889rem;
  clear: both;
}

/* line 6, ../../sass/layouts/_front-page.scss */
.front-page-body {
  clear: both;
}

/* line 10, ../../sass/layouts/_front-page.scss */
.intro-col {
  margin-top: 45px;
  margin-top: 2.5rem;
  margin-bottom: 45px;
  margin-bottom: 2.5rem;
  text-align: center;
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  border-top-color: #B23130;
  padding-top: 7px;
  padding-top: 0.38889rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.11111rem;
  border-bottom-style: solid;
  border-bottom-color: #B23130;
  padding-bottom: 7px;
  padding-bottom: 0.38889rem;
  border-width: 0.5rem;
}
/* line 16, ../../sass/layouts/_front-page.scss */
.intro-col:nth-child(odd) {
  color: #B23130;
}
/* line 20, ../../sass/layouts/_front-page.scss */
.intro-col:nth-child(even) {
  border-color: #D3D3D3;
}

/* line 1, ../../sass/modules/_post.scss */
.post {
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  border-top-color: #B23130;
  padding-top: 7px;
  padding-top: 0.38889rem;
  margin-bottom: 72px;
  margin-bottom: 4rem;
  clear: both;
}

/* line 7, ../../sass/modules/_post.scss */
.post-body {
  clear: both;
}

/* line 11, ../../sass/modules/_post.scss */
.post-meta span {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  font-family: "BigJohn";
}

/* line 1, ../../sass/modules/_pagination.scss */
.pagination-container {
  font-size: 36px;
  font-size: 2rem;
  line-height: 41px;
  line-height: 2.25rem;
  text-align: center;
  font-family: "SlimJoe";
  font-weight: bold;
}

/* line 8, ../../sass/modules/_pagination.scss */
.pagination {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-top: 27px;
  margin-top: 1.5rem;
  margin-bottom: 27px;
  margin-bottom: 1.5rem;
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  border-top-color: #B23130;
  padding-top: 7px;
  padding-top: 0.38889rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.11111rem;
  border-bottom-style: solid;
  border-bottom-color: #B23130;
  padding-bottom: 7px;
  padding-bottom: 0.38889rem;
}

/* line 14, ../../sass/modules/_pagination.scss */
.next {
  width: 47.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
/* line 17, ../../sass/modules/_pagination.scss */
.next a:after {
  content: "⇨";
  font-size: 36px;
  font-size: 2rem;
  line-height: 41px;
  line-height: 2.25rem;
  display: inline-block;
  padding-top: 9px;
  padding-top: 0.5rem;
  padding-bottom: 9px;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

/* line 23, ../../sass/modules/_pagination.scss */
.prev a:before {
  content: "⇦";
  font-size: 36px;
  font-size: 2rem;
  line-height: 41px;
  line-height: 2.25rem;
  display: inline-block;
  padding-top: 9px;
  padding-top: 0.5rem;
  padding-bottom: 9px;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

/* line 1, ../../sass/modules/_btn.scss */
button,
.button {
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  border-color: #B23130;
  padding: 7px;
  padding: 0.38889rem;
  margin-top: 9px;
  margin-top: 0.5rem;
  margin-bottom: 9px;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.25rem;
  background-color: transparent;
  color: #B23130;
  border-color: #B23130;
  cursor: pointer;
}
/* line 11, ../../sass/modules/_btn.scss */
button:hover,
.button:hover {
  color: #D3D3D3;
  border-color: #D3D3D3;
}
/* line 16, ../../sass/modules/_btn.scss */
button[type=submit],
.button[type=submit] {
  background-color: #B23130;
  color: #000000;
  border-color: #000000;
}
/* line 19, ../../sass/core/_mixins.scss */
button[type=submit]:hover,
.button[type=submit]:hover {
  color: #D3D3D3;
  border-color: #D3D3D3;
}

/* line 1, ../../sass/modules/_comment.scss */
.comments {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  margin-top: 0.5rem;
  margin-bottom: 9px;
  margin-bottom: 0.5rem;
  clear: both;
}
/* line 12, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2.alpha.1/sass/susy/output/support/_clearfix.scss */
.comments:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 7, ../../sass/modules/_comment.scss */
.comments-heading {
  text-align: right;
}

/* line 11, ../../sass/modules/_comment.scss */
.post-comments {
  margin-top: 9px;
  margin-top: 0.5rem;
  margin-bottom: 9px;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 18px;
  line-height: 1rem;
  border-color: #D3D3D3;
}

/* line 17, ../../sass/modules/_comment.scss */
.comment {
  padding-top: 9px;
  padding-top: 0.5rem;
  padding-bottom: 9px;
  padding-bottom: 0.5rem;
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  border-color: #B23130;
  padding: 7px;
  padding: 0.38889rem;
  border-color: #B23130;
  border-bottom: 0;
}
/* line 23, ../../sass/modules/_comment.scss */
.comment:last-child {
  border-bottom-width: 2px;
  border-bottom-width: 0.11111rem;
  border-bottom-style: solid;
  border-bottom-color: #B23130;
  padding-bottom: 7px;
  padding-bottom: 0.38889rem;
}
/* line 27, ../../sass/modules/_comment.scss */
.comment:nth-child(even) {
  background: #888;
  color: #000000;
}

/* line 33, ../../sass/modules/_comment.scss */
.comment-author {
  width: 72.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 37, ../../sass/modules/_comment.scss */
.comment-date {
  width: 22.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 41, ../../sass/modules/_comment.scss */
.comment-reply {
  width: 30.55556%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  background-color: #B23130;
  color: #000000;
  border-color: #000000;
}
/* line 19, ../../sass/core/_mixins.scss */
.comment-reply:hover {
  color: #D3D3D3;
  border-color: #D3D3D3;
}

/* line 46, ../../sass/modules/_comment.scss */
.comment-input {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-top: 9px;
  margin-top: 0.5rem;
  margin-bottom: 9px;
  margin-bottom: 0.5rem;
}

/* line 1, ../../sass/modules/_actions.scss */
.actions {
  font-weight: bold;
}
/* line 4, ../../sass/modules/_actions.scss */
.actions button {
  width: 22.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* line 8, ../../sass/modules/_actions.scss */
.delete {
  background-color: #B23130;
  color: #000000;
  border-color: #000000;
}
/* line 19, ../../sass/core/_mixins.scss */
.delete:hover {
  color: #D3D3D3;
  border-color: #D3D3D3;
}

/* line 1, ../../sass/theme/_theta.scss */
.intro-col:before {
  content: "θ";
  font-size: 54px;
  font-size: 3rem;
  line-height: 59px;
  line-height: 3.25rem;
  display: inline-block;
  padding-top: 9px;
  padding-top: 0.5rem;
  padding-bottom: 9px;
  padding-bottom: 0.5rem;
}

/* line 1, ../../sass/state/_display.scss */
.hover {
  border-color: #D3D3D3 !important;
  border-style: dotted !important;
}

/* line 6, ../../sass/state/_display.scss */
.active {
  border-color: #D3D3D3 !important;
  font-weight: bold;
}
/* line 10, ../../sass/state/_display.scss */
.active a {
  color: #D3D3D3;
}

/* line 15, ../../sass/state/_display.scss */
.light {
  border-color: #D3D3D3 !important;
}

/* line 20, ../../sass/state/_display.scss */
:disabled {
  background: #888;
  border-color: #888;
}

/* line 25, ../../sass/state/_display.scss */
:focus {
  outline: none;
}

/* Global */
/* line 2, ../../sass/state/_responsive.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2.alpha.1/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/*
    Large+
*/
@media (min-width: 1200px) {
  /* line 10, ../../sass/state/_responsive.scss */
  .sidebar {
    position: fixed;
    width: 22.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }

  /* line 15, ../../sass/state/_responsive.scss */
  .nav-link {
    border-bottom-width: 2px;
    border-bottom-width: 0.11111rem;
    border-bottom-style: solid;
    border-bottom-color: #B23130;
    padding-bottom: 7px;
    padding-bottom: 0.38889rem;
    text-align: right;
  }

  /* line 20, ../../sass/state/_responsive.scss */
  .intro-col {
    margin-top: 0;
  }

  /* line 25, ../../sass/state/_responsive.scss */
  .post:first-child,
  .front-page {
    border: none;
  }
}
/*
     Medium to Large
*/
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 35, ../../sass/state/_responsive.scss */
  .sidebar {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }

  /* line 39, ../../sass/state/_responsive.scss */
  .nav-link {
    width: 22.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    text-align: center;
  }
}
/*
    Medium+
*/
@media (min-width: 900px) {
  /* line 49, ../../sass/state/_responsive.scss */
  .front-page-title {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }

  /* line 53, ../../sass/state/_responsive.scss */
  .intro {
    display: flex;
  }

  /* line 58, ../../sass/state/_responsive.scss */
  .intro-col {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  /* line 63, ../../sass/state/_responsive.scss */
  .post-title {
    width: 72.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }

  /* line 67, ../../sass/state/_responsive.scss */
  .post-meta {
    width: 22.22222%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
/*
    Small to Medium
    6 Column Layout
*/
@media (min-width: 480px) and (max-width: 900px) {
  /* line 78, ../../sass/state/_responsive.scss */
  html {
    font-size: 16px;
    font-size: 0.88889rem;
    line-height: 23px;
    line-height: 1.25rem;
  }

  /* line 82, ../../sass/state/_responsive.scss */
  .intro {
    width: 94.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
  }

  /* line 86, ../../sass/state/_responsive.scss */
  .nav-link {
    width: 44.44444%;
    float: left;
    margin-left: 2.77778%;
    margin-right: 2.77778%;
    text-align: center;
  }
}
/* 
    -Small
    3 column layout
*/
@media (max-width: 480px) {
  /* line 99, ../../sass/state/_responsive.scss */
  html {
    font-size: 16px;
    font-size: 0.88889rem;
    line-height: 23px;
    line-height: 1.25rem;
  }

  /* line 103, ../../sass/state/_responsive.scss */
  .nav-link {
    text-align: center;
  }

  /* line 107, ../../sass/state/_responsive.scss */
  .nav-link,
  .intro-col,
  .post-title,
  .post-meta,
  .pagination,
  .comment-author,
  .comment-date,
  .post-actions button,
  .comment-actions button {
    width: 88.88889%;
    float: left;
    margin-left: 5.55556%;
    margin-right: 5.55556%;
  }
}
