.hover {
    @include light-borders;
    border-style: dotted !important;
}

.active {
    @include light-borders;
    font-weight: bold;
    
    a {
        color: $light-gray;
    }
}

.light {
    @include light-borders;
}


:disabled {
    background: $dark-gray;
    border-color: $dark-gray;
}

:focus {
    outline: none;
}