/* Global */
body {
    @include container(100%);
}

/*
    Large+
*/
@include breakpoint($large) {
    .sidebar {
        position: fixed;
        @include span(3);
    }

    .nav-link {
        @include trailing-border;
        text-align: right;
    }
}

/*
     Medium to Large
*/
@include breakpoint($medium $large) {
    .sidebar {
        @include span(12);
    }

    .nav-link {
        @include span(3);
        text-align: center;
    }
}

/*
    Medium+
*/
@include breakpoint ($medium) {
    .post-title,
    .post-meta {
        text-align: center;
    }

    .post-title {
        @include span(9);
    }

    .post-meta {
        @include span(3 at 10);
    }
}

/*
    Small to Medium
    6 Column Layout
*/
@include breakpoint ($small $medium) {
    @include with-layout(6) {
        html {
            @include adjust-font-size-to(16px);
        }

        .nav-link {
            @include span(3);
            text-align: center;
        }

        .post-title {
        }
    }  
}

/* 
    -Small
    3 column layout
*/
@include breakpoint (max-width $small) {
    @include with-layout(3) {
        html {
            @include adjust-font-size-to(16px);
        }

        .nav-link {
            text-align: center
        }

        .nav-link,
        .post-title,
        .post-meta,
        .pagination,
        .comment-author,
        .comment-date,
        .post-actions button,
        .comment-actions button {
            @include span(3);
        }
    }
}