.gallery-item {
    @include span(12);
    @include rhythm-padding(2);
    @include apply-side-rhythm-border(left);
    @include rhythm-margins(2);
    
    &:hover {
        border-color: $light-gray;
        background-color: transparentize($light-gray, 0.95); 
        
        .img-caption {
            color: $dark-gray;
        }
    }
}

.gallery-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.img-caption {
    @include adjust-font-size-to($h6-zd);
    @include rhythm-margins;
    @include span(12);
}