#site-nav {
    @include adjust-font-size-to($h2-zd);
    margin-top: rhythm(3);
    margin-left: 0; 
    font-family: $base-nav-font;
    text-align: right;
    list-style-type: none;
}

.nav-link {
    @include rhythm-margins;
}