#sidebar {
    padding: 1em;
    padding-left: 0;
    margin-right: 20px;
    position: fixed;
    width: 250px;
    max-width: 240px;
    height: 100%;
    overflow: hidden;
}

#site-header {
    @include top-lining;
}