button,
.btn {
    @include rhythm-borders;
    @include rhythm-margins;
    @include adjust-font-size-to($base-font-size);
    background-color: transparent;
    color: $red;
    border-color: $red;
    cursor: pointer;
    text-align: center;
    
    &:hover {
        color: $light-gray;
        border-color: $light-gray; 
    }
    
    &[type=submit] {
       @include danger;
    }
}