.pagination-container {
    @include adjust-font-size-to($h2-zd);
    text-align: center;
    font-family: $base-nav-font;
    font-weight: bold;
}

.pagination {
    @include span(12);
    @include rhythm-margins(3);
    @include h-borders;
    color: $dark-gray;
}

.next {
    @include span(6 at 7);
    
    a:after {
        @include unicode("\21E8", $h2-zd);
        padding-left: rhythm(2);
    }
}

.prev a:before {
    @include unicode("\21E6", $h2-zd);
    padding-right: rhythm(2);
}