.post {
    margin-bottom: 4em;
    padding: 0 2em 0;
}

.post-title {
    @include top-lining;
}

.post-title {
    display: inline-block;
}

.post-meta {
    float: right;
    font-family: 'SlimJoe';
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    line-height: 1.2;
}

.post-body {
    clear: both;
    font-size: 1.4em;
    line-height: 1.2; 
}

.post-actions {
    font-weight: bold;
}

.post-meta span {
    display: block;
}