.post {
    margin-bottom: 4em;
    padding: 0 2em 0;
}

.post-title {
    display: inline-block;
}

.post-meta {
    float: right;
    font-family: 'SlimJoe';
    font-weight: bold;
    text-align: right;
}

.post-body {
    clear: both;

}

.post-actions {
    font-weight: bold;
}

.post-meta span {
    display: block;
}