.post {
    @include leading-border;
    @include margin-trailer(8);
    clear: both;
    
    @include breakpoint($large) {
        &:first-child {
            border: none;
        }
    }
}

.post-body {
    clear: both;
}

.post-actions {
    font-weight: bold;
    
    button {
        @include span(3);
    }
}

.post-meta span {
    @include span(12);
    font-family: $base-heading-font; 
}

.post-delete {
    @include danger;
}